* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100vh;
}

.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #171717;
  z-index: 100;
  display: grid;
  grid-template-rows: 95vh 5vh;
}
.removeWrapper{
  
  top: -1500px;
  transition: all 1.5s ease-in-out;
}

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.introduction h1 {
  font-family: 'Basement Grotesque', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 77px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-right: 1px solid white;
  padding: 10px 20px;
}
.introduction p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 15px;
  color: #ffffff;
  padding: 0 40px;
}
.navigation-text h4 {
  font-size: 11px;
  font-family: 'Poppins', sans-serif;
  color: #909090;
  font-weight: 400;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.removeWrapper{
  z-index: -3;
}
.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  position: relative;
  z-index: 3;
}

.right {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
}

.number-container {
  width: 100%;
  height: 100%;
  background: linear-gradient(123.28deg, #e66465 0.69%, #9198e5 102.88%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-container h1 {
  font-size: 150px;
  font-family: 'Basement Grotesque', sans-serif;
  color: #ffffff;
}

.row-two {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.input-container {
  width: 100%;
  height: 100%;
  background: #0b0b0b;
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  padding: 0;
  margin: 0;
}

.submit-content {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.input .text {
  color: #ffffff;
  line-height: 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.input input {
  color: #ffffff;
  background: transparent;
  border-bottom: 0.1px solid #ffffff;
  padding: 5px 0;
  width: 30px;
  border-right: none;
  border-left: none;
  border-top: none;
  outline: none;
}

.submit {
  width: 100%;
  background: #000000;
  height: 30%;
  padding: 0;
  margin: 0;
  white-space: none;
  transition: all 0.4s;
  cursor: pointer;
}

.message-container {
  background: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px 0;
}

.input {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 40px;
}

.message-container p {
  padding-left: 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  line-height: 50px;
}

.message-container h5 {
  padding-left: 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 25px;
}

.row-three {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.score-container {
  background: #000000;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-content {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0 40px;
  flex-direction: column;
  color: #ffffff;
  font-size: 12px;
}

.right-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  font-size: 12px;
}

.info-container {
  width: 100%;
  height: 100%;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info-container p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;

  color: #ffffff;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #171717;
}

.left h1 {
  font-family: 'Basement Grotesque', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 77px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 58px;
}

.left p {
  font-family: 'Basement Grotesque';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 40px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.left button {
  background: transparent;
  border: 1px solid #4f4f4f;
  color: #ffffff;
  padding: 10px 15px;
  font-family: 'Basement Grotesque', sans-serif;
  font-size: 11px;
  transition: all 0.4s;
  cursor: pointer;
}

.left button:hover {
  background: white;
  color: #171717;
  transition: all 0.4s;
}

svg {
  fill: white;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;

  background: #171717;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.631);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
  transition: all 0.4s;
  z-index: 10;
}

.close-modal:hover {
  color: red;
  transition: all 0.4s;
}

.modal p {
  font-family: 'Basement Grotesque', sans-serif;
  font-size: 35px;
  text-align: center;
  color: #ffffff;
}
